$color-1: #8b9d83; // Artichoke - Action color
$color-2: #6a7b76; // Xanadu
$color-3: #3a4e48; // Dark Slate Gray
$color-4: #beb0a7; // pale silver
$color-5: #ffffff; // white
$color-6: #040303; // black

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

// fonts
$primary-font: 'Alegreya', serif;
$secondary-font:'Rock Salt', cursive;
